<header class="w-100">
  <div class="container">
    <h1 class="display-4 fw-bold">Colton's 35 Birthday</h1>
  </div>
</header>

<div class="container">

  <h3 class="display-6 welcome-name" *ngIf="(stateService.myUserState | async)?.myName as myName$" (click)="changeName()">
    Welcome, {{myName$}} <i class="bi bi-pencil"></i>
  </h3>

  <div *ngIf="stateService.gameState | async as gameState$ ; else elseLoadingBlock">
    <app-current-activities [activities]="gameState$.currentActivities"></app-current-activities>

    <app-current-votes [votes]="gameState$.currentVotes"></app-current-votes>

    <app-bingo-spinner [bingoEnabled]="gameState$.bingoEnabled"
                       [mostRecentBingoNumber]="gameState$.mostRecentBingoNumber"
                       [drawnNumbers]="gameState$.drawnBingoNumbers"></app-bingo-spinner>
  </div>

  <app-is-admin>
    <app-admin-guest-list></app-admin-guest-list>

    <app-admin-vote-stats></app-admin-vote-stats>

    <button class="btn btn-primary" (click)="leaveAdmin()">Leave Admin</button>
  </app-is-admin>

  <footer>
    <div><a href="https://www.facebook.com/colton.davis.3910" target="_blank" rel="noreferrer">Be sure to say Happy Birthday on Facebook! <i class="bi bi-box-arrow-up-right"></i></a></div>
    <button *ngIf="canBecomeAdmin" class="btn btn-primary" (click)="becomeAdmin()">Become Admin</button>
    <div><a href="colton.partybag.com">colton.partybag.com</a></div>
    <div>&copy; Bryce Fisher 2024</div>
  </footer>
</div>

<ng-template #elseLoadingBlock>Loading...</ng-template>
