footer {
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

header {
  background-image: linear-gradient(to right, rgb(130, 0, 159) 0%, rgb(93, 52, 175) 50%, rgb(0, 206, 171) 100%);
  color: white;
  padding-top: 12px;
  padding-bottom: 2px;
  font-family: 'Coiny', cursive;
}

.welcome-name {
  margin-top: 24px;
  margin-left: 24px;
  cursor: pointer;
  .bi {
    font-size: 50%;
  }
}
