<div class="modal-header">
  <h4 class="modal-title">Welcome to the Christmas Party!</h4>
</div>
<div class="modal-body">
  <p>Please sign the guest list.</p>
  <p>What is your name?</p>
  <form>
    <input [(ngModel)]="name" name="name" placeholder="Your name?" (change)="onChangeName()" (submit)="changeName()" (keyup.enter)="changeName()">
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="changeName()">Let's Party</button>
</div>
