<div *ngIf="bingoEnabled">
  <div class="row text-center bingo-container">
    <div *ngFor="let letter of bingoLetters" class="col bingo-{{letter}} bingo-ball-row">
      <span class="display-6 bingo-letter bingo-letter-{{letter}}">{{ letter }}</span>
      <div *ngFor="let numb of numberMap[letter]" class="bingo-ball-container">
        <div class="bingo-ball"
             [class.is-most-recent]="numb === mostRecentBingoNumber">
          {{ numb }}
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!drawnNumbers.length" class="no-drawn-balls-yet">
    Let's get ready to play!
  </div>

  <app-is-admin>
    <div class="admin-recent-balls">
      <b>Most recent draw:</b>
      <div *ngFor="let num of adminRecentNumbers; let last = last">
      <span class="bingo-ball admin-bingo-ball"
            [class.is-most-recent]="last">{{ bingoLetter(num) }} {{ num }}</span> {{ jokes[num] }}
      </div>
    </div>
    <form class="form-check form-switch float-end">
      <input class="form-check-input" type="checkbox" role="switch" id="isRiggedEnabled" name="isRiggedEnabled"
             (click)="toggleRigged()">
      <label class="form-check-label" for="isRiggedEnabled">Draw {{ isRiggedEnabled ? "Batz" : "Regular" }}</label>
    </form>

    <button class="btn btn-primary" (click)="drawBingoNumber()">Draw Bingo Number</button>
    <button class="btn btn-primary" (click)="clearBingo()">Clear Bingo</button>
  </app-is-admin>
</div>

<app-is-admin>
  <div>
    <button class="btn btn-danger" [class.active]="bingoEnabled"
            (click)="toggleBingo()">{{ bingoEnabled ? "Disable Bingo" : "Enable Bingo" }}
    </button>
  </div>
</app-is-admin>
